

.search1{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(214, 213, 213) !important;
    border: solid 3px rgb(0, 170, 9) !important;
}

.brands2{
    font-size:290% !important;
}
.brands2:hover{
    color: rgb(0, 170, 9) !important;
}

.highlight{
    color: rgb(0, 170, 9) !important;
}
.cards2{
    margin-right: 20px;
}
.card-link2{
    text-decoration: none;
    color: white;
}
.card-link2:hover{
    text-decoration: underline;
    color:rgb(0, 170, 9) ;
}

.stars{
    font-size: 200%;
    color: rgb(0, 170, 9);
}